body{
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 1000px;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    margin: 0;
}

.background{
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    width: 40%;
    max-width: 1024px;
    position: relative;
}

.background p{
    position: absolute;
    bottom: 0;
    left: 40%;
}

.title > * {
    color: white;
}

.title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    padding: 5% 0;
}

.logo{
    width: 100px;
    height: auto;
}

.container{
    width: auto;
    margin-top: 150px;
}

.container > h2, .container > p{
    padding: 0 0 0 40px;
}

button{
    margin: 40px 0 0 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(242, 136, 86);
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px 30px;
}

form{
    background-color: white;
    box-shadow: 5px 10px 10px rgb(100, 100, 100);
    width: 100%;
    padding: 40px;
}

form input{
    height: 2em;
    width: 300px;
    border-radius: 3px;
}

.formContainer{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}

.formContainer h2{
    width: 100%;
}

.formContainer > div{
    display: flex;
    flex-direction: column;
    width: 400px;
}

a{
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(242, 136, 86);
}

#copyright{
    color: white;
    background-color: rgba(0,0,0,0.2);
}

.required{
    color: rgb(242, 136, 86);
    font-weight: bold;
}

input:invalid{
    border: 2px solid rgb(196, 42, 42);
}

input:valid{
    border: 2px solid rgb(122, 226, 122);
}

input:placeholder-shown{
    border: 1px solid grey;
}