body{
    margin: auto;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 20px auto;
}

#cellNumberBtn{
    display: block;
    margin: auto;
    margin-top: 50px;
    /* width: 40px; */
    font-size: 40px;
}